.hidden {
    display: none;
}

/* Common styles */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF ;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
a {
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Container */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        min-height: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}




/* Header */



.navigation {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
padding: 17px 0;
}

.logo:hover,
.logo:focus {
    color: #404bbf 
}
    



.logo-part {
    color: #2e2f42;
}

.up-list {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
display: none;
}




.call {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
    color: #434455;
}


.address-name {
    font-style: normal;
    display: none;
    margin-left: auto;
}

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

@media screen and (min-width:768px) {
    .open-menu-btn {
        display: none;
    }

    .logo {
        margin-right: 120px;
    }

    .up-list {
        display: flex;
        gap: 40px;
    }

    .link {
        color: #2e2f42;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .current {
    position: relative;
    color: #404BBF;
    }
    
    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color:#404BBF;
        border-radius: 2px;
        width: 100%;
        height: 4px;
    }
    .up-list .link:hover,
    .up-list .link:focus {
        color: #404bbf;
        text-decoration: none;
    }
    .address-name {
        display: block;
    }

    .address-name-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .send {
        font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .send:hover,
    .send:focus {
        color: #404bbf;
    }
    
    
}

@media screen and (min-width:1158px) {
    .logo {
        margin-right: 76px;
    }

    .address-name-list {
        flex-direction: row;
        gap: 40px;
    }

    .send {
        font-size: 16px;
        line-height: 1.5;
    }
}

/* 1st section */

.first {
    background-color: #2e2f42;
    padding: 72px 0px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/Hero/Dark-bg1m.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


@media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .first {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/Hero/Dark-bg2m.jpg);
            }
        }


.name-first {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    max-width: 216px; 
    margin: 0 auto;
    margin-bottom: 72px;
    }
    
    .button {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    align-items: center;
    border: none;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .button:hover,
    .button:focus {
        background-color: #404BBF;
        transition:  250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }

@media  screen and (min-width: 768px) {
    .first {
        padding: 112px 0px;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/Hero/Dark-bg1t.jpg);
        max-width: 768px;
    }   
    
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .first {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/Hero/Dark-bg2t.jpg);
            }
        }


    .name-first {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px; 
        margin-bottom: 36px;
    }
}

@media  screen and (min-width: 1158px) {
    .first {
        padding: 188px 0px;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/Hero/people-office1d.jpg);
        max-width: 1440px;
    }  
    
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .first {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/Hero/people-office2d.jpg);
            }
        }


    .name-first { 
        margin-bottom: 48px;
    }
}

/* 2nd section */

.second {
    padding: 96px 0;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.visually-hidden {
    display: none;
}
.second-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
}

.item-icon {
    display: none; 
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    display: block;
    text-align: center;
}

.paragraph-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {

    .second {
    padding-top: 96px;
    padding-bottom: 72px;
}

.second-list {
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;  
}

.item { 
    width: calc((100% - 24px) / 2);
}

.title {
    text-align: left;
}


}

@media screen and (min-width: 1158px) {
    .second {
        padding: 120px 0;
    }

    .second-list {
        gap: 24px;
    }

    .item {
        width: calc((100% - 3 * 24px) / 4);
    }

    .item-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
        width: 264px;
    }

    .title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .paragraph-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}
    
/* 3rd section */

.third {
    background: #f4f4fd;
    background-color: #f4f4fd;
    padding: 96px 0;
}

.third-name {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.third-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;

}

.our-team {
    padding: 32px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.mark {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff; 
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    gap: 24px;
    width: 264px;
}

.mark-heading {
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mark-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-list-icon {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    align-self: center;
    justify-content: center;
}

.link-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    gap: 24px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .third-list {
        display: flex;
        row-gap: 64px;
        column-gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media screen and (min-width: 1158px) {
    .third {
        padding-bottom: 120px;
        padding-top: 120px;
    }

    .third-list {
        gap: 24px;
        flex-wrap: nowrap;
    }
}

/* 4th section */

.portfolio_block {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #fff;
}

.portfolio_block_head {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
padding-top: 96px;
padding-bottom: 72px;
}

.portfolio_block_list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 16px;
    justify-content: center;
    padding-bottom: 96px;
}

.portfolio_block_group {
    max-width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_cover {
    position: relative;
    overflow: hidden;
    display: block;
}

.portfolio_description {
    color: #f4f4fd;
    position: absolute;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_block_group:hover .portfolio_description {
    transform: translateY(0);
}

.portfolio_block_group {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.list_container {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.portfolio_block_name {
    font-weight: 500;
    font-size: 20px;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio_block_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .portfolio_block_list {
        gap: 72px 24px;
    }
    
    .portfolio_block_group {
        max-width: 356px;
        flex-basis: calc((100% - 24px ) / 2 );
    }
}

@media screen and (min-width: 1158px) {

    .portfolio_block_list {
        gap: 40px 24px;
    }
    .portfolio_block_group {
        box-shadow: none;
    }

    .portfolio_block_group:hover,
    .portfolio_block_group:focus {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }
}



/* FOOTER */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer_container {
    display: flex;
    align-items: baseline; 
    flex-wrap: wrap;
    gap: 72px;
}

.footer-left-part {
    text-align: center;
    margin-left: 0;
    max-width: 288px;
}

.logo-end {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.flogo_color_end {
color: #F4F4FD;
}

.tagline {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD; 
    max-width: 288px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}

.footer_second_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 288px;
    gap: 16px;
    align-items: center;
}

.footer_text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer_block {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer_list {
    width: 40px;
    height: 40px;
}

.footer_link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_link:hover,
.footer_link:focus {
    background-color: #31d0aa;
}

.footer_media {
    fill: #F4F4FD;
}

.subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 16px;
}

.subscribe-footer {
    max-width: 288px;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    margin-left: 0;
    align-items: center;
}

.subscribe-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    max-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
}

.subscribe-icon {
    margin-left: 16px;
}

@media screen and (min-width:768px) {
    .footer {
        padding: 96px 0;
    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        flex-direction: row;
        padding-left: 108px;
    }

    .footer-left-part {
        text-align: left;
    }

    .footer_second_box {
        min-width: 208px;
    }

    .footer_text {
        text-align: left;
    }

    .subscribe {
        text-align: left;
    }

    .subscribe-footer {
        max-width: 453px;
        display: flex;
        flex-wrap: wrap;
    }

    .subscribe-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    .subscribe-input {
        width: 264px;
    }
    .tagline {
        width: 264px;
        height: 72px;
    }

}

@media screen and (min-width:1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer_container {
        display: flex;
        align-items: baseline;
        padding-left: 0px;
    }

    .footer-left-part {
        text-align: left;
        margin-right: 120px;
        margin-left: auto;
    }

    .footer_second_box {
        min-width: 208px;
        margin-right: auto;
    }

    .footer_text {
        text-align: left;
    }

    .subscribe {
        text-align: left;
    }

    .subscribe-footer {
        max-width: 453px;
    }

    .subscribe-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
}
